@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1 style="color:saddlebrown">@ViewData["Title"]</h1>
<h4 style="color:saddlebrown">Wohoo! Your Account has been Created Successfully!</h4>
<a href="/identity/account/login">Click here</a> to LogIn
