<h3 style="color:saddlebrown">In Our Chef's Own Words,</h3>
<div class="row" style="padding-top:20px;">
    <div class="card-deck">
        <div class="col-md-4" style="text-align:center">
            <img src="~/img/chef.jpg" style="border-radius: 50%; width:70%; height:auto; border:2px solid black" />
        </div>
        <div class="col-md-6">
            <h4 style="font-family:'Baskerville Old Face'; text-align:justify; color:darkgreen; font-weight:bolder">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In viverra dapibus nibh, quis tincidunt eros pellentesque ac. Praesent quis quam mauris. Sed sollicitudin hendrerit aliquam. Etiam aliquam lorem sed nisi egestas fringilla. Maecenas ac neque luctus, mattis est in, aliquam leo. Mauris quis lectus fermentum, accumsan tortor id, venenatis risus."</h4>
        </div>
    </div>
</div>
